
<input id = "msgBy" type = "text" name = "msgBy"
       placeholder = "Enter your name!">
<button class="btn btn-primary" type = "button" name = "button" onclick = "setMsgBy()">
    Join to  chat!
</button>